body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    background-color: #FF7E29;
    color: white;
    padding: 15px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: right;
}

.header .logo {
    font-size: 13px;
    font-weight: bold;
}

.header .user-icon {
    font-size: 20px;
}

/* Navbar */
.navbar {
    background-color: #fb9200;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px;
}

.navbar a:hover {
    background-color: #715029;
    border-radius: 5px;
}

/* Dropdown menus */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e1881a;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #8A6341;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #db5a04, #FFAB4C);
    padding-top: 20px;
    z-index: 1;
    font-size: 14px;
    color: white;
    padding-left: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 13px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}

/* Search bar */
.search-bar {
    margin-right: 20px;
}

.search-bar input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    background-color:rgba(255, 0, 0, 0);
    border: solid 1px white;
}

/* qlnlchuoicuahang */
.btn-detail{
    background-color: #ec9262;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ffffff;
    border-bottom:1px solid   #ec9262;
    padding: 10px;
    text-align: center;
}
th {
    background-color:  #ec9262;
    color: white;
}
.btn-detail:hover {
    background-color:  #ec9262;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color:  #ec9262;
}
.themmoi{
    background-color:  #ec9262;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.capnhat{
    background-color:  #ec9262;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}